@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(../components/navbar.css);
@import url(../components/main.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap');

:root {
  --dark-blue: #050025;
  --white: #ffffff;
  -sft-blue: #1CC1E5;
}

body {
  color: var(--white);
  background-color: var(--dark-blue);
  font-family: 'Inter', sans-serif;
}

.width-max {
  width: 100%;
  max-width: 120rem;
  padding: 0 6rem;
  margin: 0 auto;
}

.title-pm {
  font-size: 2rem;
  color: var(--white);
  font-weight: 600;
} 

.anco {
  font-size: 18px;
  color: var(--dark-blue);
}